.teste {
  height: 354.75px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
